@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');

body{
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #EDF2F8;
}

.main-container{
    height: fit-content;
    align-items: center;
    max-width: 600px;
    min-width: 320px;
    margin: 2rem 2rem 2rem 2rem;
    background-color: white;
    border-radius: 20px;
    font-size: 20px;
    box-shadow: 1px 15px 25px rgb(202, 202, 202);
    overflow: hidden;
}

.img-container{
    height: 15rem;
    overflow: hidden;
}


.img-style{
    width: 100%;
    translate: 0rem -10%;
}

.text-container{
    min-width: 250px;
    margin: 1rem 2rem 2rem 2rem;
}

.primary-text{
    font-family: manrope;
    font-weight: 700;
    font-size: medium;
    margin-top: 1.5rem;
    color: hsl(217, 19%, 35%);
}

.sub-text{
    font-family: manrope;
    font-weight: 500;
    font-size: small;
    color: hsl(214, 17%, 51%);
    margin-top: 2rem;
}

.bottom-container{
    display: flex;
    justify-content: space-around;
    align-content: center;
    max-height: 50px;
    background-color: white;
    padding: 0.5rem 1.5rem 1.5rem 1.5rem;
}

.avatar{
    height: 50px;
    border-radius: 50%;
}

.name-container{
    height: 35px;
    margin-left: -18%;
}

.name{
    color: hsl(217, 19%, 35%);
    font-size: small;
    font-family: manrope;
    height: 1rem;
    font-weight: 700;
}

.date{
    height: 1rem;
    color: hsl(214, 17%, 51%);
    font-size: small;
    font-family: manrope;
}

.arrow{
    height: 0.8rem;
    width: 0.8rem;
    background-color:hsl(210, 46%, 95%);
    padding: 10px;
    border-radius: 50%;
}


.icon-facebook{
    position: relative;
    display: none;
    height: 1.4rem;
}

.icon-twitter{
    height: 1.4rem;
    display: none;
}

.icon-pinterest{
    height: 1.4rem;
    margin-right: 10%;
    display: none;
}

.arrow:hover{
    cursor: pointer;
}

.share-elem{
    margin-left: -3%;
    margin-right: 3%;
    font-family: manrope;
    font-size:medium;
    color: hsl(212, 23%, 69%);
    display: none;
}

.share-wrapper{
    margin-bottom: 3%;
    margin-left: 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    height: 50px;
}

@media (min-width: 800px) {
    .main-container{
        display: flex;
        justify-content: center;
        min-width: 48rem;
        height: fit-content;
        overflow: visible;
    }

    .img-container{
        height: 18rem;
        width: 20rem;
        margin-left: -5rem;
        object-fit: fill;
    }

    .img-style{
        translate: 0rem 0%;
        margin-left: 2rem;
        height: 18rem;
    }

    .text-container{
        position: absolute;
        margin: 0rem;
        margin-top: -5rem;
        width: 28rem;
    }

    .bottom-container{
        padding: 0rem;
        margin-top: 10rem;
        width: 30rem;
    }

    .text-and-share-wrapper{
        display: flex;
        align-items: center;
        height: fit-content;
        width: 25rem;
        margin: 2rem;
    }

    .share-wrapper{
        margin: 0;
    }

    .name-container{
        margin-left: -12rem;
    }

    .arrow{
        margin-right: -2.5rem;
    }

    .avatar{
        margin-left: -0.5rem;
    }

    .sub-text{
        margin-bottom: 2rem;
    }
}